/* General Styles */
:root {
  /* 60-30-10 */
  --primary-red: #9D0208;
  --secondary-yellow: #faa307ff;
  --accent-black: var(--accent-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier','Poppins', sans-serif;
  font-size: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(./layered_peaks_haikei.svg)
  no-repeat center / cover;
}

main {
  height: 100vh;
  width: 100%;
  align-items: center;
}
/* General Styles */

/* Navigation bar */
nav {
  position: sticky;
  top: 0;
  background: #faa307ff;
}

.nav_container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
} 

.nav_container ul li {
  display: inline-block;
  transition: color 200ms ease;
}

.nav_container a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_container:hover {
  color: var(--primary-red);
}

.nav_container ul li a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: var(--accent-black);
  text-decoration: none;
  outline: none;
}
/* Navigation bar */

/* Homepage container holding information and map */
.home {
  height: 100%;
}

.home_container{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
}

.name {
  color: var(--secondary-yellow);
  font-weight: bold;
}

main .info h2 {
  display: block;
}

.times {
  max-width: 14rem;
}

.map_media {
  border-radius: 0.5rem;
}
/* Homepage container holding information and map */

/* Dropdown Menu */
.menu_container {
  background: #23242a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.dropdown {
  min-width: 20rem;
  position: relative;
  margin: 2rem;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #2a2f3b;
  color: var(--secondary-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: background 0.3s;
}

.select_click {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background: #323741;
}

.dropdown_icon {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
  margin-right: 5px;
}

.dropdown_icon_rotate {
  transform: rotate(180deg);
}

.menu {
  min-width: 20rem;
  list-style: none;
  padding: 0.1rem 0.25rem;
  background: #323741;
  border: 1px #363a43 solid; 
  border-radius: 0.3rem;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  color: #9fa5b5;
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.3rem 0.1em;
  border-radius: 0.3rem;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active { /* added later in javascript*/
background: #23242a;
}

.menu_open { /* Open styles, javascript */
  display: block;
  opacity: 1;
}

/* Dropdown Menu */

/* Javascript Active Nav Link Indicator */
a:is(link, :active, :visited).active {
  color:  var(--primary-red);
  background-color: var(--secondary-yellow);
}
/* Javascript Active Nav Link Indicator */

/* Media queries for small screen */
@media only screen and (max-width: 600px) {
  .home_container {
    display: flex;
    flex-direction: column;
  }

  .info {
    font-size: 0.8rem;
  }

  .times {
    display: inline;
  }

  .map_media {
    width: 400px;
    height: 340px;
  }
}
/* Media queries for small screen */

/* Media queries for large screens */
@media only screen and (min-width: 600px) {
  .nav_container a {
    font-size: 1.5rem;
  }

  .home_container {
    display: flex;
    flex-direction: column;
  }

  .info {
    font-size: 1.5rem;
  }

  .times {
    display: inline;
  }

  .map_media {
    width: 700px;
    height: 500px;
  }
}
/* Media queries for large screens */

/* Media query for weird fold phones */
@media only screen and (max-width: 280px) {
  .map_media {
    width: 250px;
  }
}
/* Media query for weird fold phones */

