/* General Styles */
:root {
  /* 60-30-10 */
  --primary-red: #9D0208;
  --secondary-yellow: #faa307ff;
  --accent-black: var(--accent-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier','Poppins', sans-serif;
  font-size: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(./layered_peaks_haikei.svg);
}

main {
  height: 100vh;
  width: 100%;
  align-items: center;
}
/* General Styles */

/* Navigation bar */
nav {
  position: sticky;
  top: 0;
  background: #faa307ff;
}

.nav_container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
} 

.nav_container ul li {
  display: inline-block;
  transition: color 200ms ease;
}

.nav_container a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_container:hover {
  color: var(--primary-red);
}

.nav_container ul li a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: var(--accent-black);
  text-decoration: none;
  outline: none;
}
/* Navigation bar */

/* Homepage container holding information and map */
.home {
  height: 100%;
}

.home_container{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
}

.name {
  color: var(--secondary-yellow);
  font-weight: bold;
}

main .info h2 {
  display: block;
}

.times {
  max-width: 14rem;
}

.map_media {
  border-radius: 0.5rem;
}
/* Homepage container holding information and map */

/* Menu items */
.menu_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em 0.5rem;
}

.menu {
  font-size: 14px;
}

.menu_group_heading {
  margin: 0;
  margin-top: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--secondary-yellow);
  color: var(--secondary-yellow);
}

.description {
  color: var(--secondary-yellow);
  flex-grow: 1;
  display: flex;
  justify-content:space-between;
  margin: 0.2rem;
}

.more {
  color: var(--secondary-yellow);
  font-size: 0.8rem;
}

.dish {
  color: black;
  font-weight: bold;
  margin-right: 1.5rem;
}

.price {
  font-weight: bold;
}

.menu_group {
  display: grid;
  /* Grid template specifies what columns look like and how they are going to be sized */
  grid-template-columns: 1fr; /* Single column*/
  gap: 0.7rem;
  padding: 0.5rem 0;
}

.menu_item {
  display: flex;
}
/* Menu items */



/* Javascript Active Nav Link Indicator */
a:is(link, :active, :visited).active {
  color:  var(--primary-red);
  background-color: var(--secondary-yellow);
}
/* Javascript Active Nav Link Indicator */

/* Media queries for small screen */
@media only screen and (max-width: 600px) {
  .home_container {
    display: flex;
    flex-direction: column;
  }

  .info {
    font-size: 0.8rem;
  }

  .times {
    display: inline;
  }

  .map_media {
    width: 400px;
    height: 340px;
  }
}
/* Media queries for small screen */

/* Media queries for large screens */
@media only screen and (min-width: 600px) {
  .nav_container a {
    font-size: 1.5rem;
  }

  .home_container {
    display: flex;
    flex-direction: column;
  }

  .info {
    font-size: 1.5rem;
  }

  .times {
    display: inline;
  }

  .map_media {
    width: 700px;
    height: 500px;
  }

  .menu {
    font-size: 20px;
  }

  .menu_group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
/* Media queries for large screens */

/* Media query for weird fold phones */
@media only screen and (max-width: 280px) {
  .map_media {
    width: 250px;
  }
}
/* Media query for weird fold phones */